.btn {
    color: rgb(172, 209, 109);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 1px;
    border-color: rgb(172, 209, 109);
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.btn:hover {
    color: #ffffff;
    background-color: #78c300;
    border-color: #c5e591;
}
